.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;

  
  }
  
  
  .main-nav-logo {
    display: flex;
    align-items: center;
    img{
        max-width: 100%;
        width: 200px;
    }
  }
  
  
  .main-nav-login{
    display: flex;
    
}

#button_logout{
  border: none;
  background-color: transparent;
}