@use "./services/common/styles/_variables";

.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: variables.$second-color;
    color: #fff;
  }
  
  .sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
  }
  
  .sign-in-icon {
    color: variables.$third-color;
    font-size: 5rem;
  }
  
  .input-remember {
    display: flex;
    width: 100%;
    label{
      input{
        margin-right: 1.25em;
        margin-left: 0;
      }
    }
    
  }
  
 
  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  

  
  .input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
  }